<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/I072753/rest-assured-sample/src/main/java/org/example/GoogleMapAPIs.java">
        <classes>
            <class name="org.example.GoogleMapAPIs">
                <methods>
                    <include name="AddPlace"/>
                    <include name="UpdatePlace"/>
                    <include name="GetPlace"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>